<!DOCTYPE html>
<html>
<head>
  <%= tag('meta', charset: 'utf-8') %>
  <%= tag('meta', 'http-equiv': 'X-UA-Compatible', content: 'IE=edge') %>
  <%= tag('meta', name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no') %>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Twitter</title>

  <!-- Bootstrap -->
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js' %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js' %>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
</body>
</html>
